body {
    background-color: cornflowerblue;
    box-sizing: border-box;
}
#navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: darkslateblue;
    width: 9.55in;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    position: sticky;
    top: 0;
    border-radius: 5px;
    z-index: 3;
}
#navigation a {
    color: floralwhite;
    font-weight: 300;
}
#navigation a:hover {
background-color: slateblue;
}
#TEIheader {
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 0px;
}
#TEIheader h2 {
    text-align: center;
    font-family: monospace;
    font-size: 14pt;
    font-weight: 100;
    margin-bottom: 20px;
}
#TEIheader p {
    text-indent: 40px;
    text-align: justify;
}
#TEIheader a {
    color: black;

}
#title {
    width: 50%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 0px;
}
img[src="PixilTitle2.png"] {

    width: 110%;
    height: 110%;
    margin-top: 5px;
    margin-bottom: 0;
}

img[src="Image395.jpg"] {
   width: 23.5pc;
   height: 25.5pc;
   margin-top: 1pc;
}
img[src="Image396.jpg"] {
    width: 24pc;
    height: 35pc;
}
img[src="Image397.jpg"] {
    width: 24pc;
    height: 18pc;
        margin-top: 1pc;  
}
img[src="Image398.jpg"] {
    width: 20.5pc;
    height: 24.5pc;
}
img[src="Title2.png"] {
 width: 27pc;
 height: 5pc;
}
.page {
    background-color: floralwhite;
    margin: auto;
    width: 37.5pc;
    height: 55pc;
    margin-bottom: 2em;
}



.page .formeWork {
    height: 4.5pc;
    display: grid;
    grid-template-columns: 5pc 27.5pc 5pc;
    grid-template-rows: 2.5pc 1pc 1pc; 
    grid-template-areas: 
    'marginTop marginTop marginTop'
    'pageNumberL runningHead pageNumberR'
    'marginBottom marginBottom marginBottom';
}
.runningHead {
    grid-area: runningHead;
    text-align: center;
    font-style: italic;
}
.pageNumberL {
  grid-area: pageNumberL;
  text-align: right;

}
.pageNumberR {
    grid-area: pageNumberR;
    text-align: left;
}
.pageTitle {
    grid-area: marginBottom;
    justify-self: center;
    align-self: start;
    margin-top: 1em;

}


    
 div[id="395"] .text {
 box-sizing: border-box;
 white-space: nowrap;
   text-align-last: justify;
   font-size: 8.9pt;
   line-height: 9.5pt;
    width: 37.5pc;
    height: 50.5pc;
    display: grid;
    grid-template-columns: 3.25pc 6.5pc 8.5pc 1pc 15pc 3.25pc;
    grid-template-rows: 20pc 27.5pc 3pc;
    grid-template-areas: 
    'marginLeft columnLeft columnLeft marginMiddle columnRight marginRight'
    'marginLeft imageLeft image image image marginRight'
    'footer footer footer footer footer footer';
    }   
 div[id="396"] .text {
 box-sizing: border-box;
 white-space: nowrap;
   text-align-last: justify;
   font-size: 8.9pt;
   line-height: 9.5pt;
    width: 37.5pc;
    height: 51pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 9pc 6pc 3.25pc;
    grid-template-rows: 36.5pc 10.5pc 3pc;
    grid-template-areas: 'marginLeft image image image imageRight marginRight'
    'marginLeft columnLeft marginMiddle columnRight columnRight marginRight'
    'footerLeft footer footer footer footer footerRight';
    }
div[id = "397"] .text {
    box-sizing: border-box;
    white-space: nowrap;
    text-align-last: justify;
    font-size: 8.9pt;
    line-height: 9.5pt;
    width: 37.5pc;
    height: 50.5pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 9pc 6pc 3.25pc;
    grid-template-rows: 12pc 21pc 14.5pc 3pc;
    grid-template-areas: 
    'marginLeft columnLeftTop marginMiddleTop columnRightTop columnRightTop marginRight'
    'marginLeft image image image imageRight marginRight'
    'marginLeft columnLeftBottom marginMiddleBottom columnRightBottom columnRightBottom marginRight'
    'footer footer footer footer footer footer';
    }
 div[id="398"] .text {
 box-sizing: border-box;
 white-space: nowrap;
   text-align-last: justify;
   font-size: 8.9pt;
   line-height: 9.5pt;
    width: 37.5pc;
    height: 50.5pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 5.5pc 9.5pc 3.25pc;
    grid-template-rows: 26.5pc 21pc 3pc;
    grid-template-areas:  
    'marginLeft image image image imageRight marginRight'
    'marginLeft columnLeft marginMiddle columnRight columnRight marginRight'
    'footer footer footer footer footer footer';
}

.text {
    font-weight: 500;
    font-size: 9pt;
    line-height: 1em;
    text-align-last: justify;
    width: 37.5pc;
    height: 50.5pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 15pc 3.25pc;
    grid-template-rows: 48pc 2.5pc;
    grid-template-areas: 
    'marginLeft columnLeft marginMiddle columnRight marginRight'
    '. footer footer footer .';
}
.vol {
grid-area: footer;
align-self: start;
text-align-last: left;
text-indent: 1pc;
font-size: 7pt;
font-weight: bold;
}
#cL393 {
    grid-area: columnLeft;
 align-self: center;
 margin-top: 4em;

}

#cR393 {
    grid-area: columnRight;
align-self: center;
margin-top: 4em;
}


.image {
grid-area: image;
  }
#image395 {
      justify-self: right;
      }
  .columnLeft {
grid-area: columnLeft;
 }
 .imageRight {
     grid-area: imageRight;
     align-self: stretch;
 }
 .imageLeft {
     grid-area: imageLeft;
 }
 .columnRight {
grid-area: columnRight;
 }
.columnLeftTop {
  grid-area: columnLeftTop; 
}
.columnRightTop {
  grid-area: columnRightTop; 
}
.columnLeftBottom {
    grid-area: columnLeftBottom;
}
.columnRightBottom {
  grid-area: columnRightBottom;
}


.page .dropCap{
    text-indent: 0;
    margin-top: 0;
    vertical-align: top;
}
.dropCap::first-letter {
    font-size: 65pt;
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 5px;
    color: floralwhite;
    text-shadow: 
                -1px -1px 0 black,
                 1px -1px 0 black,
                -1px  1px 0 black,
                 1px  1px 0 black;
   margin: 0 .1em 0 0;
  line-height: 0.85; 
  background-image: url("dropcap.png");
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-position-y: 55%;  
}
.lb::after {
    content: "-";
}


.page p {
    text-align: justify;
    box-sizing: border-box;
    text-align-last: justify;
    text-indent: 1pc;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0;
}
.lastLine {
    display: block;
    text-align-last: left;
    text-indent: 0pc;
    box-sizing: border-box;
    }
 
.image .caption {
    text-align-last: center;
    font-size: 6.5pt;
    line-height: 7pt;
    text-transform: uppercase;
}  
    
   .image .captionByline {
    text-align-last: center;
    font-size: 6.5pt;
    line-height: 7.5pt;
    font-style: oblique;
    font-family: " Lucida Handwriting";
} 
