body {
    background-color: cornflowerblue;
}
#navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: darkslateblue;
    width: 9.55in;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    position: sticky;
    top: 0;
    border-radius: 5px;
    z-index: 3;
}
#navigation a {
    color: floralwhite;
    font-weight: 300;
}
#navigation a:hover {
background-color: slateblue;
}
#TEIheader {
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 0px;
}
#TEIheader h2 {
    text-align: center;
    font-family: monospace;
    font-size: 14pt;
    font-weight: 100;
    margin-bottom: 20px;
}
#TEIheader p {
    text-indent: 40px;
    text-align: justify;
}
#TEIheader a {
    color: black;

}
#title {
    width: 50%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 0px;
}
#title img {
    width: 110%;
    height: 110%;
    margin-top: 5px;
    margin-bottom: 0;
}


.page {
    background-color: floralwhite;
    margin: auto;
    width: 37.5pc;
    height: 55.5pc;
    margin-bottom: 2em;
}
div[id="395"] {
    margin-bottom: 2em;
    /* not doing anything */
}

div[id="396"] {
    margin-top: 2em;
}
/* HEY WHY IS 399 NOT ON ITS PAGE GOODNESS GRACIOUS */
.page .formeWork {
    width: 37.5pc;
    margin-right: auto;
    margin-left: auto;
    height: 5.62pc;
    display: grid;
    grid-template-columns: 5pc 27.5pc 5pc;
    grid-template-rows: 3pc 1.62pc 1pc; 
    grid-template-areas: 
    'marginTop marginTop marginTop'
    'pageNumberL runningHead pageNumberR'
    'marginBottom marginBottom marginBottom';
}

.page .formeWork:hover {
    border-style: dotted;
    border-width: thin;
}
.page .text:hover {
    border-style: dotted;
    border-width: thin;
}
.page .formeWork div {

}

.page .formeWork .pageNumberL {
  grid-area: pageNumberL;
  text-align: right;

}
.page .formeWork .pageTitle {
    grid-area: runningHead;
    align-self: start;
    justify-self: center;
    
}
#pageTitle {
   width: 27.5pc;
   rotate: 2.5deg;
}

.page .formeWork .runningHead {
    grid-area: runningHead;
    text-align: center;
    font-style: italic;
}

.page .formeWork .pageNumberR{
    grid-area: pageNumberR;
    text-align: left;
}

.page .text {

    font-size: 9pt;
    line-height: 1em;

    text-align-last: justify;


    width: 37.5pc;
    height: 49.88pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 15pc 3.25pc;
    grid-template-rows: 45.2pc 4.68pc;
    grid-template-areas: 
    'marginLeft columnLeft marginMiddle columnRight marginRight'
    '. footer footer footer .';

}

.page .text div {
align-self: end;
}

.columnLeft {
    grid-area: columnLeft;
    

}

.columnLeft:hover {
    border-style: dotted;
    border-width: thin;
}

.columnRight {
    grid-area: columnRight;
 
}

.columnRight:hover {
    border-style: dotted;
    border-width: thin;
}

.page .text .vol {

grid-area: footer;
text-align-last: left;
align-self: start;
text-indent: 1pc;
font-size: 7pt;
font-weight: bold;
}

.page p {
    display: inline-block;
    width: 15pc;
    text-align: justify;
    text-indent: 1pc;
    margin-top: .5em;
    margin-bottom: 0em;
    padding: 0;
    hyphens: auto;

}

span {
    background-color: yellow;


}

.page .dropCap{
    text-indent: 0;
    margin-top: 0;
    vertical-align: top;
}
.dropCap::first-letter {
    font-size: 65pt;
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding: 5px;
    color: floralwhite;
    text-shadow: 
                -1px -1px 0 black,
                 1px -1px 0 black,
                -1px  1px 0 black,
                 1px  1px 0 black;
   margin: 0 .1em 0 0;
  line-height: 0.85; 
  background-image: url("dropcap.png");
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-position-y: 55%;
  
}

#firstWord {
    text-transform: uppercase;
    background: none;

}


.page div .lastLine /* I am onto something but why does it mess up all the spacing in the world and how can I get it not to*/{
display: inline;
    text-align-last: left;
    padding: 0 !important;
    line-height: inherit;
    text-indent: 0 !important;
    margin: 0 !important;
   
}


.Image395 {
    grid-area: columnLeft;
    
}

img[src="Image395.jpg"] {
    width: 9.9cm;
    height: 10.8cm;
    /* why are you behind the text hello */
}






