body {
background-color: cornflowerblue;
}

img[src="Image395.jpg"] {
   width: 23.5pc;
   height: 25.5pc;
}
img[src="Image396.jpg"] {
    width: 24pc;
    height: 35pc;
}
img[src="Image397.jpg"] {
    width: 24pc;
    height: 18pc;
        margin-top: 1.5pc;  
}
img[src="Image398.jpg"] {
    width: 20.5pc;
    height: 24.5pc;
}
.page {
    background-color: floralwhite;
    margin: auto;
    width: 37.5pc;
    height: 55.5pc;
    margin-bottom: 2em;
}
.page .formeWork {
    height: 5.5pc;
    display: grid;
    grid-template-columns: 5pc 27.5pc 5pc;
    grid-template-rows: 3pc 1pc .5pc; 
    grid-template-areas: 
    'marginTop marginTop marginTop'
    'pageNumberL runningHead pageNumberR'
    'marginBottom marginBottom marginBottom';
}
.runningHead {
    grid-area: runningHead;
    text-align: center;
    font-style: italic;
}
.pageNumberL {
  grid-area: pageNumberL;
  text-align: right;

}
.pageNumberR {
    grid-area: pageNumberR;
    text-align: left;
}


    
 div[id="395"] .text {
 box-sizing: border-box;
 white-space: nowrap;
   text-align-last: justify;
   font-size: 8.9pt;
   line-height: 9.5pt;
    width: 37.5pc;
    height: 50.5pc;
    display: grid;
    grid-template-columns: 3.25pc 6.5pc 8.5pc 1pc 15pc 3.25pc;
    grid-template-rows: 20pc 27.5pc 3pc;
    grid-template-areas: 
    'marginLeft columnLeft columnLeft marginMiddle columnRight marginRight'
    'marginLeft imageLeft image image image marginRight'
    'footer footer footer footer footer footer';
    }
    
    div[id="396"] .text {
 box-sizing: border-box;
 white-space: nowrap;
   text-align-last: justify;
   font-size: 8.9pt;
   line-height: 9.5pt;
    width: 37.5pc;
    height: 51pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 9pc 6pc 3.25pc;
    grid-template-rows: 36.5pc 10.5pc 3pc;
    grid-template-areas: 'marginLeft image image image imageRight marginRight'
    'marginLeft columnLeft marginMiddle columnRight columnRight marginRight'
    'footerLeft footer footer footer footer footerRight';
    }
div[id = "397"] .text {
    box-sizing: border-box;
    white-space: nowrap;
    text-align-last: justify;
    font-size: 8.9pt;
    line-height: 9.5pt;
    width: 37.5pc;
    height: 51pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 9pc 6pc 3.25pc;
    grid-template-rows: 12pc 21.5pc 14.5pc 3pc;
    grid-template-areas: 
    'marginLeft columnLeftTop marginMiddleTop columnRightTop columnRightTop marginRight'
    'marginLeft image image image imageRight marginRight'
    'marginLeft columnLeftBottom marginMiddleBottom columnRightBottom columnRightBottom marginRight'
    'footer footer footer footer footer footer';
    }
 div[id="398"] .text {
 box-sizing: border-box;
 white-space: nowrap;
   text-align-last: justify;
   font-size: 8.9pt;
   line-height: 9.5pt;
    width: 37.5pc;
    height: 50.5pc;
    display: grid;
    grid-template-columns: 3.25pc 15pc 1pc 5.5pc 9.5pc 3.25pc;
    grid-template-rows: 26.5pc 21pc 3pc;
    grid-template-areas:  
    'marginLeft image image image imageRight marginRight'
    'marginLeft columnLeft marginMiddle columnRight columnRight marginRight'
    'footer footer footer footer footer footer';
}

.image {
grid-area: image;
border-style: dotted;
border-width: thin;
box-sizing: border-box;
  }
#image395 {
      justify-self: right;
      }

  .columnLeft {
grid-area: columnLeft;
border-style: dotted;
border-width: thin;
box-sizing: border-box;
 }
 .imageRight {
     grid-area: imageRight;
box-sizing: border-box;
   border-style: dotted;
border-width: thin;

 }
 .imageLeft {
     grid-area: imageLeft;
box-sizing: border-box;
   border-style: dotted;
border-width: thin;

 }
 .columnRight {
grid-area: columnRight;
border-style: dotted;
border-width: thin;
box-sizing: border-box;
 }
.columnLeftTop {
  grid-area: columnLeftTop;
border-style: dotted;
border-width: thin;
box-sizing: border-box;  
}
.columnRightTop {
  grid-area: columnRightTop;
border-style: dotted;
border-width: thin;
box-sizing: border-box;  
}
.columnLeftBottom {
    grid-area: columnLeftBottom;
border-style: dotted;
border-width: thin;
box-sizing: border-box;
}
.columnRightBottom {
  grid-area: columnRightBottom;
border-style: dotted;
border-width: thin;
box-sizing: border-box;  
}



.page p {
    text-align: justify;
    box-sizing: border-box;
    text-align-last: justify;
    text-indent: 1pc;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0;
}
.lastLine {
    display: block;
    text-align-last: left;
    text-indent: 0pc;
    box-sizing: border-box;
}

.break:before {
    content: "-";
}
